body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.kviz {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.naslov {
    color: #2980b9;
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
}

.next {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 60%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}

.nema-vise {
    padding-bottom: 10px;
}

.pitanje-container {
    border: 2px solid #e74c3c;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.pitanje {
    color: #333;
    font-size: 20px;
    margin-bottom: 15px;
}

.odgovori {
    display: flex;
    flex-direction: column;

}

.odgovor {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: all 0.3s ease;
}

.odgovor:hover {
    color: #fff;
}

.odgovor:nth-child(odd) {
    background-color: #d2dae2;
}

.tocanOdgovor {
    background-color: #9aff9d;
    border: 1px solid hsl(115, 100%, 90%);
    padding: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1.1rem;
}

.neTocanOdgovor {
    background-color: #ff8e8e;
    border: 1px solid hsl(0, 100%, 90%);
    padding: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1.1rem;
}